.header {
    margin: 0 auto;
    padding: 28px 30px 0;
    font-size: 0;
    min-height: 56px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 619px) {
    .header {
        padding: 45px 30px 0;
    }
}

@media screen and (min-width: 880px) {
    .header {
        padding: 45px 0 0 0;
    }
}